Repository NHSISL/IDecide, pull requests merged in 2025-09, with the labels that each got.

#89 CONTROLLERS: Decision Type
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/DecisionTypeTests.DeleteById.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/DecisionTypeTests.Get.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/DecisionTypeTests.GetById.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/DecisionTypeTests.Post.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/DecisionTypeTests.Put.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/DecisionTypeTests.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Brokers/ApiBroker.DecisionTypes.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Brokers/ApiBroker.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Brokers/ApiTestCollection.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Brokers/TestWebApplicationFactory.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/CustomAuthenticationSchemeOptions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Models/DecisionTypes/DecisionType.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/TestAuthHandler.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Apis/DecisionTypeTests.DeleteById.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Apis/DecisionTypeTests.Get.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Apis/DecisionTypeTests.GetById.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Apis/DecisionTypeTests.Post.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Apis/DecisionTypeTests.Put.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Apis/DecisionTypeTests.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Brokers/ApiBroker.DecisionTypes.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Brokers/ApiBroker.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Brokers/ApiTestCollection.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Integration/Models/DecisionTypes/DecisionType.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Delete.Exceptions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Delete.Logic.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Delete.security.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Get.Exceptions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Get.Logic.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Get.security.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.GetAll.Exceptions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.GetAll.Logic.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.GetAll.security.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Post.Exceptions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Post.Logic.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Post.security.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Put.Exceptions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Put.Logic.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Put.security.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.cs
  LondonDataServices.IDecide.Portal.Server/Controllers/DecisionTypesController.cs
  LondonDataServices.IDecide.Portal.Server/Program.cs
  LondonDataServices.IDecide.Portal.Server/appsettings.json
Labels: CONTROLLERS

#93 CONTROLLERS: DecisionType
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/DecisionTypeTests.DeleteById.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/DecisionTypeTests.Get.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/DecisionTypeTests.GetById.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/DecisionTypeTests.Post.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/DecisionTypeTests.Put.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/DecisionTypeTests.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/ApiBroker.DecisionTypes.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/ApiBroker.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/ApiTestCollection.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/TestWebApplicationFactory.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/CustomAuthenticationSchemeOptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/LondonDataServices.IDecide.Manage.Server.Tests.Acceptance.csproj
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Models/DecisionTypes/DecisionType.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/TestAuthHandler.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Apis/DecisionTypeTests.DeleteById.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Apis/DecisionTypeTests.Get.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Apis/DecisionTypeTests.GetById.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Apis/DecisionTypeTests.Post.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Apis/DecisionTypeTests.Put.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Apis/DecisionTypeTests.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Brokers/ApiBroker.DecisionTypes.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Brokers/ApiBroker.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Brokers/ApiTestCollection.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/LondonDataServices.IDecide.Manage.Server.Tests.Integration.csproj
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/Models/DecisionTypes/DecisionType.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Delete.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Delete.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Delete.security.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Get.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Get.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Get.security.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.GetAll.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.GetAll.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.GetAll.security.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Post.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Post.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Post.security.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Put.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Put.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.Put.security.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/DecisionTypesControllerTests.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/LondonDataServices.IDecide.Manage.Server.Tests.Unit.csproj
  LondonDataServices.IDecide.Manage.Server/Controllers/DecisionTypesController.cs
Labels: CONTROLLERS

#95 BROKERS: Security Update Captcha Validation
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.CheckIfIsAuthenticatedUserWithRequiredRole.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.GenerateNewPatientWithCodeAsync.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.RecordPatientInformation.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.RecordPatientInformation.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.RecordPatientInformation.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.UpdatePatientWithNewCode.Logic.cs
  LondonDataServices.IDecide.Core/Brokers/Securities/ISecurityBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Securities/SecurityBroker.cs
  LondonDataServices.IDecide.Core/Services/Orchestrations/Patients/IPatientOrchestrationService.cs
  LondonDataServices.IDecide.Core/Services/Orchestrations/Patients/PatientOrchestrationService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Orchestrations/Patients/PatientOrchestrationService.cs
Labels: BROKERS

#90 CONTROLLERS: PatientDecision PostPatientDecision Management
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/PatientDecisions/PatientDecisionControllerTests.PostPatientDecision.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/PatientDecisions/PatientDecisionControllerTests.PostPatientDecision.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/PatientDecisions/PatientDecisionControllerTests.PostPatientDecision.Security.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/Controllers/PatientDecisions/PatientDecisionControllerTests.cs
  LondonDataServices.IDecide.Manage.Server/Controllers/PatientDecisionController.cs
Labels: CONTROLLERS, ready for review

#83 FOUNDATIONS: RetrieveAll ConsumerStatuses
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RetrieveAll.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RetrieveAll.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/IConsumerStatusService.cs
Labels: FOUNDATIONS, ready for review

#84 FOUNDATIONS: ConsumerStatus RetrieveById
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RetrieveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RetrieveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RetrieveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Consumers/ConsumerServiceTests.RetrieveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Consumers/ConsumerServiceTests.RetrieveById.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/IConsumerStatusService.cs
Labels: FOUNDATIONS, ready for review

#85 FOUNDATIONS: ConsumerStatus RemoveById
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RemoveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RemoveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.RemoveById.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/IConsumerStatusService.cs
Labels: FOUNDATIONS, ready for review

#105 ORCHESTRATIONS: VerifyAndRecordDecisionAsync refactor
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Decisions/DecisionOrchestrationServiceTests.CheckIfIsAuthenticatedUserWithRequiredRole.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Decisions/DecisionOrchestrationServiceTests.VerifyAndRecordDecision.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Decisions/DecisionOrchestrationServiceTests.VerifyAndRecordDecision.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Decisions/DecisionOrchestrationServiceTests.VerifyAndRecordDecision.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Decisions/DecisionOrchestrationServiceTests.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Patients/PatientOrchestrationServiceTests.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Decisions/DecisionConfigurations.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Decisions/Exceptions/InvalidCaptchaDecisionOrchestrationServiceException.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Decisions/Exceptions/UnauthorizedDecisionOrchestrationServiceException.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Decisions/Exceptions/ValidationCodeMatchExpiredException.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Decisions/Exceptions/ValidationCodeNotMatchedException.cs
  LondonDataServices.IDecide.Core/Services/Orchestrations/Decisions/DecisionOrchestrationService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Orchestrations/Decisions/DecisionOrchestrationService.cs
  LondonDataServices.IDecide.Manage.Server/appsettings.json
  LondonDataServices.IDecide.Portal.Server/appsettings.json
Labels: ORCHESTRATIONS

#117 ORCHESTRATIONS: Decision VerifyAndRecordDecision refactor
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Orchestrations/Decisions/DecisionOrchestrationServiceTests.VerifyAndRecordDecision.Logic.cs
  LondonDataServices.IDecide.Core/Services/Orchestrations/Decisions/DecisionOrchestrationService.cs
Labels: ORCHESTRATIONS, ready for review

#118 CODE RUB: Decision Wire Up
  LondonDataServices.IDecide.Core/Services/Foundations/Notifications/NotificationService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Notifications/NotificationService.cs
  LondonDataServices.IDecide.Portal.Client/public/darkbackgroundhighres.png
  LondonDataServices.IDecide.Portal.Client/src/App.tsx
  LondonDataServices.IDecide.Portal.Client/src/brokers/apiBroker.decisions.ts
  LondonDataServices.IDecide.Portal.Client/src/brokers/apiBroker.frontendConfigurationBroker.ts
  LondonDataServices.IDecide.Portal.Client/src/components/SearchNhsNumber/searchByNhsNumber.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/appFlow.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmCode/confirmCode.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmDetails/confirmDetails.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmation/confirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/context/stepContext.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/optInOptOut/optInOptOut.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/positiveConfirmation/positiveConfirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/searchByDetails/searchByDetails.tsx
  LondonDataServices.IDecide.Portal.Client/src/locales/en/translation.json
  LondonDataServices.IDecide.Portal.Client/src/locales/es/translation.json
  LondonDataServices.IDecide.Portal.Client/src/locales/fr/translation.json
  LondonDataServices.IDecide.Portal.Client/src/locales/ro/translation.json
  LondonDataServices.IDecide.Portal.Client/src/main.tsx
  LondonDataServices.IDecide.Portal.Client/src/models/consumerAdoptions/consumerAdoption.ts
  LondonDataServices.IDecide.Portal.Client/src/models/consumers/consumer.ts
  LondonDataServices.IDecide.Portal.Client/src/models/decisionTypes/decisionType.ts
  LondonDataServices.IDecide.Portal.Client/src/models/decisions/decision.ts
  LondonDataServices.IDecide.Portal.Client/src/models/patients/patient.ts
  LondonDataServices.IDecide.Portal.Client/src/models/powerOfAttourneys/powerOfAttourney.ts
  LondonDataServices.IDecide.Portal.Client/src/pages/appFlowPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/confirmationPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/searchByDetailsPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/searchByNhsNumberPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/services/foundations/decisionService.ts
  LondonDataServices.IDecide.Portal.Client/src/services/views/decisionViewService.ts
  LondonDataServices.IDecide.Portal.Client/src/services/views/patientViewService.ts
  LondonDataServices.IDecide.Portal.Client/src/styles/layout.scss
  LondonDataServices.IDecide.Portal.Server/Program.cs
  LondonDataServices.IDecide.Portal.Server/appsettings.json
Labels: CODE RUB

#119 CODE RUB: Renames
  LondonDataServices.IDecide.Core/Brokers/Notifications/INotificationBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Notifications/NotificationBroker.cs
  LondonDataServices.IDecide.Manage.Client/package-lock.json
  LondonDataServices.IDecide.Portal.Client/src/brokers/apiBroker.patientDecisions.ts
  LondonDataServices.IDecide.Portal.Client/src/components/confirmation/confirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/home/home.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/optInOptOut/optInOptOut.tsx
  LondonDataServices.IDecide.Portal.Client/src/helpers/mapValidationCodeToNumber.ts
  LondonDataServices.IDecide.Portal.Client/src/models/consumerAdoptions/consumerAdoption.ts
  LondonDataServices.IDecide.Portal.Client/src/models/decisionTypes/decisionType.ts
  LondonDataServices.IDecide.Portal.Client/src/models/patientDecisions/patientDecision.ts
  LondonDataServices.IDecide.Portal.Client/src/models/patients/patient.ts
  LondonDataServices.IDecide.Portal.Client/src/models/views/patientDecisionView.ts
  LondonDataServices.IDecide.Portal.Client/src/services/foundations/decisionService.ts
  LondonDataServices.IDecide.Portal.Client/src/services/foundations/patientDecisionService.ts
  LondonDataServices.IDecide.Portal.Client/src/services/views/decisionViewService.ts
Labels: CODE RUB

#123 BROKERS: Security - GetHeaderAsync
  LondonDataServices.IDecide.Core/Brokers/Securities/ISecurityBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Securities/SecurityBroker.cs
Labels: BROKERS

#127 CODE RUB: Config Changes and Word Changes
  LondonDataServices.IDecide.Core/Brokers/Notifications/NotificationBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Securities/SecurityBroker.cs
  LondonDataServices.IDecide.Manage.Server/appsettings.json
  LondonDataServices.IDecide.Portal.Client/src/brokers/apiBroker.patientCode.ts
  LondonDataServices.IDecide.Portal.Client/src/components/confirmCode/confirmCode.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/home/home.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/optInOptOut/optInOptOut.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/positiveConfirmation/positiveConfirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/locales/en/translation.json
  LondonDataServices.IDecide.Portal.Client/src/services/foundations/patientService.ts
  LondonDataServices.IDecide.Portal.Client/src/services/views/patientViewService.ts
  LondonDataServices.IDecide.Portal.Server/appsettings.json
Labels: CODE RUB

#128 CODE RUB: Stop some tests running
  LondonDataServices.IDecide.Portal.Client/tests/ConfirmDetails.specc.ts
  LondonDataServices.IDecide.Portal.Client/tests/OptInOut.specc.ts
  LondonDataServices.IDecide.Portal.Client/tests/PositiveConfirmation.specc.ts
  LondonDataServices.IDecide.Portal.Client/tests/confirmCode.specc.ts
  LondonDataServices.IDecide.Portal.Client/tests/confirmation.specc.ts
Labels: CODE RUB

#130 CODE RUB: Fix Playwright
  LondonDataServices.IDecide.Portal.Client/playwright.config.ts
Labels: CODE RUB

#131 CODE RUB: Listening to Copilot
  LondonDataServices.IDecide.Portal.Client/playwright.config.ts
Labels: CODE RUB

#133 CODE RUB: Update Connection string name to match
  LondonDataServices.IDecide.Portal.Server/appsettings.ContinuousIntegration.json
Labels: CODE RUB

#134 CODE RUB: Another change for playwright
  LondonDataServices.IDecide.Portal.Client/playwright.config.ts
  LondonDataServices.IDecide.Portal.Server/LondonDataServices.IDecide.Portal.Server.csproj
Labels: CODE RUB

#138 ACCEPTANCE: PatientDecision - PostPatientDecision
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/PatientDecisions/PatientDecisionTests.PostPatientDecision.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/PatientDecisions/PatientDecisionTests.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/ApiBroker.PatientDecisions.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/TestWebApplicationFactory.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Models/PatientDecisions/Decision.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/appsettings.json
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/PatientDecisions/PatientDecisionTests.PostPatientDecision.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Apis/PatientDecisions/PatientDecisionTests.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Brokers/ApiBroker.PatientDecisions.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Brokers/TestWebApplicationFactory.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/Models/PatientDecisions/Decision.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Acceptance/appsettings.json
Labels: ACCEPTANCE, changes requested
