Repository NHSISL/IDecide, pull requests merged in 2025-08, with the labels that each got.

#28 CODE RUB: Corrected namspace for Audits
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.Add.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.AddAudit.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.BulkAddAudit.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.Modify.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.RemoveById.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.RetrieveAll.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Exceptions.RetrieveById.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.Add.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.AddAudit.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.BulkAddAudit.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.Modify.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.RemoveById.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.RetrieveAll.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Logic.RetrieveById.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Validations.Add.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Validations.AddAudit.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Validations.BulkAddAudit.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Validations.Modify.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Validations.RemoveById.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.Validations.RetrieveById.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Audits/AuditServiceTests.cs
  LondonDataServices.IDecide.Core/Clients/Audits/AuditClient.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Audits/AuditService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Audits/AuditService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Audits/AuditService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Audits/IAuditService.cs
  LondonDataServices.IDecide.Manage.Server/Program.cs
Labels: CODE RUB

#30 BROKERS: Security Audit Broker
  LondonDataServices.IDecide.Core.Tests.Unit/LondonDataServices.IDecide.Core.Tests.Unit.csproj
  LondonDataServices.IDecide.Core/Brokers/Securities/ISecurityAuditBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Securities/SecurityAuditBroker.cs
  LondonDataServices.IDecide.Core/LondonDataServices.IDecide.Core.csproj
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/LondonDataServices.IDecide.Manage.Server.Tests.Acceptance.Tests.Acceptance.csproj
  LondonDataServices.IDecide.Manage.Server.Tests.Integration/LondonDataServices.IDecide.Manage.Server.Tests.Integration.csproj
  LondonDataServices.IDecide.Manage.Server.Tests.Unit/LondonDataServices.IDecide.Manage.Server.Tests.Unit.csproj
  LondonDataServices.IDecide.Manage.Server/LondonDataServices.IDecide.Manage.Server.csproj
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/LondonDataServices.IDecide.Portal.Server.Tests.Unit.csproj
  LondonDataServices.IDecide.Portal.Server/LondonDataServices.IDecide.Portal.Server.csproj
  LondonDataServices.IDecide.Portal.Tests.Acceptance/LondonDataServices.IDecide.Portal.Tests.Acceptance.csproj
  LondonDataServices.IDecide.Portal.Tests.Integration/LondonDataServices.IDecide.Portal.Tests.Integration.csproj
Labels: BROKERS

#33 CODE RUB: Lint and build issue fixes
  .github/workflows/javascriptLinter.yml
  LondonDataServices.IDecide.Manage.Client/src/components/bases/inputs/DateInputBase.tsx
  LondonDataServices.IDecide.Manage.Client/src/components/confirmDetails/confirmDetails.tsx
  LondonDataServices.IDecide.Manage.Client/src/components/positiveConfirmation/positiveConfirmation.tsx
  LondonDataServices.IDecide.Manage.Client/src/pages/optInOutPage.tsx
  LondonDataServices.IDecide.Manage.Client/src/pages/patientSearchPage.tsx
  LondonDataServices.IDecide.Manage.Client/src/pages/searchByNhsNumberPage.tsx
  LondonDataServices.IDecide.Manage.Client/src/pages/sendCodePage.tsx
  LondonDataServices.IDecide.Manage.Client/src/pages/thankyouPage.tsx
  LondonDataServices.IDecide.Portal.Client/package-lock.json
  LondonDataServices.IDecide.Portal.Client/package.json
  LondonDataServices.IDecide.Portal.Client/playwright.config.ts
  LondonDataServices.IDecide.Portal.Client/src/components/SearchNhsNumber/searchByNhsNumber.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/appFlow.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmCode/confirmCode.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmDetails/confirmDetails.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmation/confirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/context/stepContext.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/core/menu.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/leftProgress/leftProgress.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/optInOptOut/optInOptOut.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/positiveConfirmation/positiveConfirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/root.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/searchByDetails/searchByDetails.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/securitys/userProfile.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/unstyledroot.tsx
  LondonDataServices.IDecide.Portal.Client/src/hooks/useStep.ts
  LondonDataServices.IDecide.Portal.Client/src/models/patients/patient.ts
  LondonDataServices.IDecide.Portal.Client/src/models/views/patientView.ts
  LondonDataServices.IDecide.Portal.Client/src/pages/appFlowPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/confirmCodePage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/confirmationPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/helpPages/aboutPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/helpPages/accessibilityStatementPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/helpPages/contactPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/helpPages/cookieUsePage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/helpPages/copyrightPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/helpPages/websitePrivacyNoticePage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/optInOutPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/searchByDetailsPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/sendCodePage.tsx
  LondonDataServices.IDecide.Portal.Client/src/pages/thankyouPage.tsx
  LondonDataServices.IDecide.Portal.Client/src/services/foundations/decisionService.ts
  LondonDataServices.IDecide.Portal.Client/src/services/foundations/patientService.ts
  LondonDataServices.IDecide.Portal.Client/tests/ConfirmDetails - Copy.spec.ts
  LondonDataServices.IDecide.Portal.Client/tests/PositiveConfirmation.spec.ts
  LondonDataServices.IDecide.Portal.Client/tsconfig.app.tsbuildinfo
  LondonDataServices.IDecide.Portal.Client/tsconfig.node.tsbuildinfo
Labels: CODE RUB

#36 CODE RUB: Responsiveness
  LondonDataServices.IDecide.Manage.Client/src/components/layouts/loginUnauth.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmCode/confirmCode.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/confirmation/confirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/home/home.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/layouts/header.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/leftProgress/leftProgress.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/optInOptOut/optInOptOut.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/positiveConfirmation/positiveConfirmation.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/root.tsx
  LondonDataServices.IDecide.Portal.Client/src/components/searchByDetails/searchByDetails.tsx
  LondonDataServices.IDecide.Portal.Client/src/styles/components.scss
  LondonDataServices.IDecide.Portal.Client/src/styles/responsive.scss
Labels: CODE RUB

#39 FOUNDATIONS: Pds PatientLookupByDetails
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Exceptions.PatientLookupByDetails.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Logic.PatientLookupByDetails.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Validations.PatientLookupByDetails.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.cs
  LondonDataServices.IDecide.Core/Brokers/Pds/IPdsBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Pds/PdsBroker.cs
  LondonDataServices.IDecide.Core/LondonDataServices.IDecide.Core.csproj
  LondonDataServices.IDecide.Core/Services/Foundations/Notifications/NotificationService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Patients/PatientService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Pds/PdsService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Pds/PdsService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Pds/PdsService.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Apis/FeaturesApiTests.Logic.cs
  LondonDataServices.IDecide.Manage.Server.Tests.Acceptance/Brokers/TestWebApplicationFactory.cs
  LondonDataServices.IDecide.Manage.Server/Program.cs
  LondonDataServices.IDecide.Manage.Server/appsettings.json
  LondonDataServices.IDecide.Portal.Server/LondonDataServices.IDecide.Portal.Server.csproj
  LondonDataServices.IDecide.Portal.Server/Program.cs
  LondonDataServices.IDecide.Portal.Server/appsettings.json
Labels: FOUNDATIONS

#37 CONTROLLERS: PatientSearch PostPatientByNhsNumber
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/PatientSearches/PatientSearchControllerTests.Exceptions.PostPatientByNhsNumber.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/PatientSearches/PatientSearchControllerTests.Logic.PostPatientByNhsNumber.cs
  LondonDataServices.IDecide.Portal.Server.Tests.Unit/Controllers/PatientSearches/PatientSearchControllerTests.cs
  LondonDataServices.IDecide.Portal.Server/Controllers/PatientSearchController.cs
Labels: CONTROLLERS, ready for review

#16 FOUNDATIONS: PdsService PatientLookupNhsNumberAsync
  LondonDataServices.IDecide.Core.Tests.Unit/Extensions/Patients/PatientExtensionTests.Logic.Redact.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Extensions/Patients/PatientExtensionTests.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Exceptions.PatientLookupNhsNumber.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Logic.MapToPatientFromFhirPatient.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Logic.MapToPatientsFromPatientBundle.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Logic.PatientLookupByNhsNumber.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Validations.MapToPatientFromFhirPatient.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Validations.MapToPatientsFromPatientBundle.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.Validations.PatientLookupByNhsNumber.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Pds/PdsServiceTests.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Pds/Exceptions/InvalidPdsArgumentException.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Patients/Exceptions/NullFhirPatientException.cs
  LondonDataServices.IDecide.Core/Models/Orchestrations/Patients/Exceptions/NullPatientBundleException.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Pds/PdsService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Pds/PdsService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Pds/PdsService.cs
Labels: FOUNDATIONS, ready for review

#48 FOUNDATIONS: Decisions
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.Add.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.Add.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.Add.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.Modify.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.Modify.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.Modify.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RemoveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RemoveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RemoveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RetrieveAll.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RetrieveAll.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RetrieveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RetrieveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.RetrieveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Decisions/DecisionServiceTests.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/AlreadyExistsDecisionException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/DecisionDependencyException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/DecisionDependencyValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/DecisionServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/DecisionValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/FailedDecisionServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/FailedDecisionStorageException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/InvalidDecisionException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/InvalidDecisionReferenceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/LockedDecisionException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/NotFoundDecisionException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Exceptions/NullDecisionException.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Decisions/DecisionService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Decisions/DecisionService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Decisions/DecisionService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Decisions/IDecisionService.cs
Labels: FOUNDATIONS, ready for review

#55 FOUNDATIONS: DecisionTypes
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.Add.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.Add.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.Add.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.Modify.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.Modify.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.Modify.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RemoveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RemoveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RemoveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RetrieveAll.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RetrieveAll.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RetrieveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RetrieveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.RetrieveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/DecisionTypes/DecisionTypeServiceTests.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/AlreadyExistsDecisionTypeException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/DecisionTypeDependencyException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/DecisionTypeDependencyValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/DecisionTypeServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/DecisionTypeValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/FailedDecisionTypeServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/FailedDecisionTypeStorageException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/InvalidDecisionTypeException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/InvalidDecisionTypeReferenceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/LockedDecisionTypeException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/NotFoundDecisionTypeException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/DecisionTypes/Exceptions/NullDecisionTypeException.cs
  LondonDataServices.IDecide.Core/Services/Foundations/DecisionTypes/DecisionTypeService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/DecisionTypes/DecisionTypeService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/DecisionTypes/DecisionTypeService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/DecisionTypes/IDecisionTypeService.cs
Labels: FOUNDATIONS, ready for review

#56 FOUNDATIONS: Patients
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.Add.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.Add.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.Add.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.Modify.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.Modify.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.Modify.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RemoveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RemoveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RemoveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RetrieveAll.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RetrieveAll.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RetrieveById.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RetrieveById.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.RetrieveById.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/Patients/PatientServiceTests.cs
  LondonDataServices.IDecide.Core/Brokers/Securities/SecurityAuditBroker.cs
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.Patient.Configurations.cs
  LondonDataServices.IDecide.Core/IDecideContextFactory.cs
  LondonDataServices.IDecide.Core/LondonDataServices.IDecide.Core.csproj
  LondonDataServices.IDecide.Core/Migrations/20250716144537_InitialMigration.Designer.cs
  LondonDataServices.IDecide.Core/Migrations/20250716144537_InitialMigration.cs
  LondonDataServices.IDecide.Core/Migrations/20250730121924_AddDecisionTypeAndDecision.cs
  LondonDataServices.IDecide.Core/Migrations/20250731175945_AddPatientAndLinkToDecision.Designer.cs
  LondonDataServices.IDecide.Core/Migrations/20250731175945_AddPatientAndLinkToDecision.cs
  LondonDataServices.IDecide.Core/Migrations/20250811132508_AddInitialMigration.Designer.cs
  LondonDataServices.IDecide.Core/Migrations/20250811132508_AddInitialMigration.cs
  LondonDataServices.IDecide.Core/Migrations/StorageBrokerModelSnapshot.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/AlreadyExistsPatientException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/FailedPatientServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/FailedPatientStorageException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/InvalidPatientException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/InvalidPatientReferenceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/LockedPatientException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/NotFoundPatientException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/NullPatientException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/PatientDependencyException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/PatientDependencyValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/PatientServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Patients/Exceptions/PatientValidationException.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Patients/IPatientService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Patients/PatientService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Patients/PatientService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Patients/PatientService.cs
  LondonDataServices.IDecide.Manage.Server/Program.cs
  LondonDataServices.IDecide.Portal.Server/Program.cs
Labels: FOUNDATIONS

#60 DATA: Decision
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.Decision.Configurations.cs
  LondonDataServices.IDecide.Core/Migrations/20250813142558_AddInitialMigration.Designer.cs
  LondonDataServices.IDecide.Core/Migrations/20250813142558_AddInitialMigration.cs
  LondonDataServices.IDecide.Core/Migrations/StorageBrokerModelSnapshot.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Decision.cs
Labels: DATA

#68 DATA: Consumer
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.Consumer.Configurations.cs
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.cs
  LondonDataServices.IDecide.Core/Migrations/20250819132850_AddInitialMigration.Designer.cs
  LondonDataServices.IDecide.Core/Migrations/20250819132850_AddInitialMigration.cs
  LondonDataServices.IDecide.Core/Migrations/StorageBrokerModelSnapshot.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Consumers/Consumer.cs
Labels: DATA

#81 FOUNDATIONS: Add ConsumerStatus
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.Add.Exceptions.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.Add.Logic.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.Add.Validations.cs
  LondonDataServices.IDecide.Core.Tests.Unit/Services/Foundations/ConsumerStatuses/ConsumerStatusServiceTests.cs
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/IStorageBroker.ConsumerStatus.cs
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.ConsumerStatus.Configurations.cs
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.ConsumerStatus.cs
  LondonDataServices.IDecide.Core/Brokers/Storages/Sql/StorageBroker.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/ConsumerStatus.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/AlreadyExistsConsumerStatusException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/ConsumerStatusDependencyException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/ConsumerStatusDependencyValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/ConsumerStatusServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/ConsumerStatusValidationException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/FailedConsumerStatusServiceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/FailedConsumerStatusStorageException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/InvalidConsumerStatusException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/InvalidConsumerStatusReferenceException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/ConsumerStatuses/Exceptions/NullConsumerStatusException.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Consumers/Consumer.cs
  LondonDataServices.IDecide.Core/Models/Foundations/Decisions/Decision.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.Exceptions.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.Validations.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/ConsumerStatusService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/ConsumerStatuses/IConsumerStatusService.cs
  LondonDataServices.IDecide.Core/Services/Foundations/Consumers/ConsumerService.Exceptions.cs
  LondonDataServices.IDecide.Manage.Server/Program.cs
  LondonDataServices.IDecide.Portal.Server/Program.cs
Labels: FOUNDATIONS, ready for review
